<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.tricedesigns.ios.externalscreen"
        version="1.0">

  <name>ExternalScreen iOS Plugin</name>

  <description>
    This plugin allows you to use an external screen on iOS devices using either AirPlay or a VGA cable adapter.

    The external screen uses a UIWebView, that is controlled via Javascript APIs.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <asset src="www/ExternalScreen.js" target="js/plugins/ExternalScreen.js"/>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="PGExternalScreen">
        <param name="ios-package" value="PGExternalScreen"/>
      </feature>
    </config-file>

    <header-file src="src/ios/PGExternalScreen.h"/>
    <source-file src="src/ios/PGExternalScreen.m"/>
  </platform>
</plugin>
